version: '3.8'

services:
  # 1. Base de Dados (MariaDB)
  # Requisito: Base de dados compatível (MariaDB)
  db:
    image: mariadb:11
    container_name: projeto_db
    restart: always
    environment:
      - MARIADB_USER=root
      - MARIADB_PASSWORD=simoesstore
      - MARIADB_DATABASE=simoes_store
      - MARIADB_ROOT_PASSWORD=simoesstore # Necessário para administração total
    ports:
      - "3306:3306" # Porta padrão do MariaDB/MySQL
    volumes:
      - mariadb_data:/var/lib/mysql
      # Opcional: Se tiveres scripts iniciais na pasta database
      # - ./database:/docker-entrypoint-initdb.d

  # 2. Cache Distribuído (Redis)
  # Requisito: Redis para otimização
  redis:
    image: redis:alpine
    container_name: projeto_redis
    ports:
      - "6379:6379"

  # 3. Mock Service (Mountebank - Imposter)
  # Requisito: Serviço imposter para simular APIs externas
  imposter:
    image: bbyars/mountebank:2.9.1
    container_name: projeto_imposter
    ports:
      - "2525:2525"
      - "4545:4545"
    volumes:
      - ./imposter/mountebank.json:/imposter/mountebank.json
    command: mb start --configfile /imposter/mountebank.json --allowInjection

volumes:
  mariadb_data: